<!-- primary template -->
<script type="text/html" id='primaryTemplate'>
  <ul class="property-list">
    <% _.each(data.properties, function(value, key) {
      print(stgr.template.propertyPartial({
        data        : data,
        property    : key,
        servers     : value
      }));
    }); %>
  </ul>
</script>

<script type="text/html" id='propertyPartial'>
  <li class="property-list-item <%= property %> accordian-unit expanded">
    <header class="property-header"><%= property %></header>
    <ul class="server-list accordian-unit-body">
      <% _.each(servers, function(value, key) {
        print(stgr.template.serverPartial({
          server        : value,
          contraBranch  : data.servers[value].branches.contra,
          pinnBranch    : data.servers[value].branches.pinnacle.branch.name,
          pinnData      : data.servers[value].branches.pinnacle
        }));
      }); %>
    </ul>
  </li>
</script>

<script type="text/html" id='serverPartial'>
  <li class="server-list-item accordian-unit <% if (pinnData.pull) {
    print(pinnData.pull.open ? 'open' : 'closed');
  } else {
    print(pinnData.branch.open ? 'open' : 'closed');
  } %>">
    <header class="server-header"><span class="server-name"><%= server %></span><a class="branch-link" href="<%= pinnData.branch.link %>"><%= pinnBranch %></a></header>

    <ul class="server-info-list accordian-unit-body">
      <% if (pinnData.author) { %>
        <li class="server-info-list-item author">
          <span class="term">Author:</span>
          <a class="definition author-link" href="<%= pinnData.author.link %>" style="background-image: url(<%= pinnData.author.pic %>);"><%= pinnData.author.name %></a>
        </li>
      <% } %>

      <% if (pinnData.pull) { %>
        <li class="server-info-list-item pull-request">
          <span class="term">Pull Request:</span>
          <a class="definition pull-request-link <% print(pinnData.pull.open ? 'open' : 'closed'); if (pinnData.pull.merged) print(' merged'); %>" href="<%= pinnData.pull.link %>"><%= pinnData.pull.name %></a>
        </li>
      <% } %>

      <% if (pinnData.pull && pinnData.pull.labels.length) { %>
        <li class="server-info-list-item labels">
          <span class="term">Labels:</span>
          <ul class="definition label-list">
            <% _.each(pinnData.pull.labels, function(label) { %>
              <li class="label-list-item"><a class="label-link" href="<%= label.link %>" style="background-color: <%= label.color %>;"><%=  label.name %></a></li>
            <% }); %>
          </ul>
        </li>
      <% } %>

      <% if (pinnData.last_commit) { %>
        <li class="server-info-list-item last-commit">
          <span class="term">Last Commit:</span>
          <span class="definition">
            <span class="last-commit-time"><%= new Date(pinnData.last_commit.date).toLocaleString() %></span>
            <span class="last-commit-msg"><%= pinnData.last_commit.message %></span>
          </span>
        </li>
      <% } %>

      <% if (pinnData.milestone) { %>
        <li class="server-info-list-item milestone <% print(pinnData.milestone.open ? 'open' : 'closed'); %>">
          <span class="term">Milestone:</span>
          <ul class="definition milestone-info-list">
            <li class="milestone-info-list-item open-issues">
              <header class="term">Open Issues:</header>
              <span class="definition"><%= pinnData.milestone.open_issues %></span>
            </li>

            <li class="milestone-info-list-item closed-issues">
              <header class="term">Closed Issues:</header>
              <span class="definition"><%= pinnData.milestone.closed_issues %></span>
            </li>

            <li class="milestone-info-list-item issues accordian-unit">
              <header class="term">Issues:</header>
              <ul class="definition milestone-issue-list accordian-unit-body">
                <% _.each(pinnData.milestone.issues, function(issue) {
                  print(stgr.template.milestoneIssuePartial({
                    branch    : issue.branch.name,
                    issueData : issue
                  }));
                }); %>
              </ul>
            </li>
          </ul>
        </li>
      <% } %>
    </ul>
  </li>
</script>

<script type="text/html" id='milestoneIssuePartial'>
  <li class="milestone-issue-list-item <% print(issueData.pull.open ? 'open' : 'closed'); %>">
    <header class="milestone-issue-header"><a class="milestone-issue-link" href="<%= issueData.branch.link %>"><%= branch %></a></header>
    <ul class="milestone-issue-info-list">
      <% if (issueData.author) { %>
        <li class="milestone-issue-info-list-item author">
          <span class="term">Author:</span>
          <a class="definition author-link" href="<%= issueData.author.link %>" style="background-image: url(<%= issueData.author.pic %>);"><%= issueData.author.name %></a>
        </li>
      <% } %>

      <% if (issueData.pull) { %>
        <li class="milestone-issue-info-list-item pull-request">
          <span class="term">Pull Request:</span>
          <a class="definition pull-request-link <% print(issueData.pull.open ? 'open' : 'closed'); if (issueData.pull.merged) print(' merged'); %>" href="<%= issueData.pull.link %>"><%= issueData.pull.name %></a>
        </li>
      <% } %>

      <% if (issueData.labels) { %>
        <li class="milestone-issue-info-list-item labels">
          <span class="term">Labels:</span>
          <ul class="definition label-list">
            <% _.each(issueData.labels, function(label) { %>
              <li class="label-list-item"><a class="label-link" href="<%= label.link %>" style="background-color: <%= label.color %>;"><%=  label.name %></a></li>
            <% }); %>
          </ul>
        </li>
      <% } %>
    </ul>
  </li>
</script>