/* helper styles */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* /helper styles */

/* really simplistic grid system */

[class*="-row"] {
	@extend .clearfix;
}

.left-content {
	float: left;
}

.right-content {
	float: right;
}

/* /really simplistic grid system */

/* dropdown menu system */

// if dropdown is a list, display children li's as block
.dropdown[class*="-list"] {
	li {
		display: block;
	}
}

/* /dropdown menu system */