// contact form info
.contact-container {
	@extend .clearfix;
}

.form-container,
.meta-info-container {
	padding: em(30);
}

// current edition location meta info
.meta-info-container {
	float: left;
}

.meta-section {
	margin-top: em(30);

	&:first-child {
		margin-top: 0;
	}

	.section-header {
		margin-bottom: em(8);
	}
}



// contact form
.form-container {
	position: relative;
	float: right;
	width: $golden-ratio;
	padding-bottom: em(40);

	> label {
		display: block;
		margin-top: em(15);
		text-align: right;

		&:first-child {
			margin-top: 0;
		}
	}

	[type="text"],
	[type="email"],
	[type="tel"],
	textarea,
	.radio-wrapper {
		display: inline-block;
		width: 75%;
		margin-left: em(15);
		text-align: left;
	}

	.radio-wrapper {
		input {
			margin-right: em(8);
		}
	}

	[type="submit"] {
		position: absolute;
		right: em(30, 19);
		bottom: em(20, 19);
		font-size: em(19);
		padding: em(6, 19) em(10, 19);
	}
}

#preferPhone {
	margin-left: em(15);
}