// middle row
.middle-row {
	margin: em(80) 0;
}

// shared between containers
.media-container,
.homepage-container {
	min-height: em(450);
}

.media-container {
	.item & {
		margin-left: 25%;
	}

	img,
	object,
	video,
	iframe {
		display: block;
		width: 100%;
		height: auto;
	}
}

.description-text {
	margin-top: 1.5em;
	text-align: justify;
	letter-spacing: normal;
}

.sidebar-text {
  overflow-y: auto;
}

// /middle row