/* general page styles */

html {
	background-color: $color-white;
	font-size: $font-base-size;
}

body {
	width: 1000px;
	margin: 0 auto;
	padding: em(40) em(20);
	-webkit-font-smoothing: antialiased;
	font-family: $font-normal;
	font-weight: 300;
	color: $color-text;
}

a {
	text-decoration: none;
	color: $color-black;

	&:hover {
		text-decoration: underline;
	}
}

p {
	font-size: em(12);
	line-height: 1.5em;
	color: $color-text;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

input {
	letter-spacing: inherit;
}

[type="submit"] {
	border-radius: 0;
	border-style: solid;
	border-width: 1px;
	background-color: $color-white;
	text-transform: lowercase;
	letter-spacing: 0.25em;
}

p,
ul,
li,
dl,
dt,
dd {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	display: inline-block;
}

.top-row,
.bottom-row {
	letter-spacing: 0.25em;
}

.primary-media {
  position: relative;
}

.primary-image {
	width: 100%;
	height: auto;
}

/* /general page styles */